@using System.Linq
@model NotesApart.ViewModels.SearchViewModel

<h1 class="header1">Search Results for "@Model.Query"</h1>

@if (Model.Artists != null && Model.Artists.Any())
{
    <h1 class="header1">Artists</h1>
    <ul>
        @foreach (var artist in Model.Artists)
        {
            <li>
                <a class="title_in_carousel_box" asp-controller="Artist" asp-action="Details" asp-route-id="@artist.ArtistId">@artist.Name</a>
            </li>
        }
    </ul>
}

@if (Model.Albums != null && Model.Albums.Any())
{
    <h1 class="header1">Albums</h1>
    <ul >
        @foreach (var album in Model.Albums)
        {
            <li>
                <a class="title_in_carousel_box" asp-controller="Album" asp-action="Details" asp-route-id="@album.AlbumId">@album.Title</a>
            </li>
        }
    </ul>
}

@if (Model.Songs != null && Model.Songs.Any())
{
    <h1 class="header1">Songs</h1>
    <ul>
        @foreach (var song in Model.Songs)
        {
            <li>
                <a class="title_in_carousel_box" asp-controller="Song" asp-action="Details" asp-route-id="@song.SongId">@song.Title</a> 
            </li>
        }
    </ul>
}

